/* apartado2-grid-areas.css */

@media screen and (min-width: 640px) {
  #contenedor {
    background-color: yellow;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
     "header     header"
     "nav        tecno"
     "principal  principal"
     "inmo       inmo ";
  }

  header {
    grid-area: header;
    text-align: center;
  }
  nav {
    grid-area: nav;
  }
  aside#tecnologia {
      grid-area: tecno;
  }
  section#principal {
      grid-area: principal;
  }
  header + aside {
      grid-area: inmo;
  }
}

@media screen and (min-width: 960px) {
  #contenedor {
    background-color: lightgray;
  }

  section#principal {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  section#principal > h2 {
    grid-column: 1 / span 2;
  }

  section#principal > p {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 1200px) {
  #contenedor {
    background-color: lightblue;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
     "header     nav          nav"
     "principal  principal    principal"
     "inmo       inmo         tecno ";
  }
}
