h1{
    color: red;
    font-size: 3em;
    text-align: center;
}

h2{
    
    font-size: 2em;
}

p{
    font-size: 1.3em;
    padding-left: 25px;
}

/* SELECTORES DE PRESENCIA Y VALOR */
[sub]{
    text-decoration: underline;
}

[color="green"]{
    color: green;
}

[color~="blue"]{
    color:blue;
}


/* SELECTORES POR VALOR TEXTUAL */

[color|="orange"]{
    color: orange;
}

[detalle^="bor"]{
    border: 5px solid red;
    background-color: gray;

}

[detalle$="ble"]{
    border: 5px double blue;
    background-color: aqua;

}

[borde*="borde dashed"]{
    border: 5px dashed red;
}