body {
  background-image: url(https://images5.alphacoders.com/958/thumb-1920-958580.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: white;
  border: 1px solid blue;
  border-radius: 15px; /* se pueden especificar 1, 2, 3 o 4 valores */
  padding: 15px;
  box-shadow: 20px 15px 20px #444;
  margin: 40px;
}

p.uper {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  font-variant: small-caps;
  text-decoration: underline yellow 12px dashed;
}


div {
    counter-reset: p;
}

div p::before {
    content: "(" counter(p) ") - ";
    counter-increment: p;
}